.heading{
    height: 3em;
    width: calc(100% - 20px);
    background-color: #131313;
    color: white;
    /* border-radius: 20px; */
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
}

.billHeading{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billHeading h3 {
    margin: 0;
    padding: 0;
}