.nav {
    height: 5em;
    /* background-color: #C4C4C4C4; */
    background-color: #5BB5B0;
    width: 100%;
    display: flex;
    align-items: center;

}

.Home{
    margin: 0;
    margin-left: 30px;
}

.main{
    display: flex;
    position: relative;
}

.dataCenter{
    width: 100%;
    height: calc(100vh - 5em - 15px - 40px);
    background-color: #EFEFEF;
    border-radius: 10px;
    border: 1px solid #5BB5B0;
    overflow: scroll;
    margin: 5px;
}

.billTable{
    width: 80%;
}


.modal{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff7b;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 2;
}

.modalContent{
    height: 60%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossButton {
    position: absolute;
    top: 30px;
    right: 30px;
}

.crossButton img{
    width: 20px;
    height: 20px;
}

.lable {
    margin-right: 5px;
    font-size: 1.3em;
}

.totalContainer {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: calc(100% - 10px);
    height: 40px;
    background-color: #5BB5B0 ;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.totalAmount {
    color: white;
    margin-right: -70px;

}

.totalAmountText {
    color: white;
    margin-right: -150px;
}

.totalAmountContainer{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}



/* min number of bills to be paid */