.option {
    display: flex;
    width: calc(100% - 20px);
    height: 5em;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

#monthFilter{
    border: none;
    font-size: 1.3em;
    height: 80%;
    background-color: #EFEFEF;
}
#catFilter{
    border: none;
    font-size: 1.3em;
    height: 80%;
    padding-left: 10;
    background-color: #EFEFEF;
}

.calcBudget{
    font-size: 1.1em;
    height: 35px;
    background-color: white;
    border: 1.5px solid #5BB5B0;
    border-radius: 5px;
}

.calcBudgetDisabled{
    pointer-events: none;
    height: 35px;
    font-size: 1.1em;
    background-color: white;
    border: 1.5px solid #a1bcbc;
    border-radius: 5px;
    color: #a1bcbc;
}

.addBill{
    border: 1.5px solid #5BB5B0;
    font-size: 1.3em;
    padding: 10px 15px;
    padding-left: 10;
    background-color: #EFEFEF;
    border-radius: 5px;
    margin: 0 5px;
}

#Budget{
    font-size: 1.0em;
    height: 30px;
    padding-left: 10;
    width: 100px;
    border: 1.5px solid #5BB5B0;
    border-radius: 5px;
}

.minBills{
    width: 900px;
    display: flex;
    justify-content: flex-start;
    /* background-color: #5BB5B0; */
}

.noOfBills{
    
    border: 1.5px solid #5BB5B0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.noOfBills p {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.minBillInput{
    width: 200px;
}

.minBillButton{
    width: 110px;
}

/* .minBills .inputContainer{
    margin: 0;
} */

.billsAmount{
    margin-left: 20px;
    background-color: #5BB5B0;
}